.cm-s-obsidian span.cm-hmd-internal-link {
	color: hsl(246deg 100% 63%) !important
}

.markdown-source-view.mod-cm6 .cm-underline {
	/* text-decoration-line: unset !important; */
  font-weight: 900 ;
}

.markdown-source-view.mod-cm6 .cm-indent::before {
	content: "" !important;
}

.cm-quote.cm-quote-1 {
	color: #666 !important;
}
 
.HyperMD-quote::before {
	border-left: 2px solid #666 !important;
}

table {
	width: 100%;
}

thead {
	background-color: #eee;
}

th {
	color: black !important;
}

tr:nth-child(even) {
	background-color: #f2f2f2 !important;
}

/* center image*/
.markdown-source-view.mod-cm6 .cm-content>img {
	display: block;
	margin: 0px auto !important;
}

.markdown-embed {
	border-left: none;
	padding: 0;
}

p {
	margin: 0 !important;
}

.dynamic-embed {
	border-left: none;
	padding: 0;
}

/* make embed image center */
.markdown-embed img {
	display: block;
	margin: 0 auto !important;
}

.cm-line img {
	display: block;
	margin: 0 auto !important;
}

.dynamic-embed img {
	display: block;
	margin: 0 auto !important;
}

.excalidraw-svg {
	display: block;
	margin: 0 auto;
}

.embed-title {
	display: none;
}

.markdown-embed-content .tag {
	display: none !important;
}

.dynamic-embed .tag {
	display: none !important;
}

.markdown-embed-content {
	display: block;
	margin: 0 auto;
}

.markdown-preview-section {
	display: block;
	margin: 0 auto;
}

.media-embed {
	text-align: center;
}

img {
	padding: 25px !important;
	filter: drop-shadow(0 0 8px gray);
}

.cm-strong {
	color: var(--color-base-100) !important;
	font-weight: bold;
	font-family: Arial, sans-serif !important;

}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
	color: black;
	padding: 2px;
	font-weight: 900 !important;
	background-color: #ddd !important;
	border-radius: 3px;
	font-family: LXGW WenKai !important;
}

.markdown-source-view.mod-cm6 .cm-indent::before {
	content: "" !important;
}


.cm-hashtag {
	font-family: LXGW WenKai !important;
}

.is-active+div.workspace-leaf {
	outline: 2px solid black;
}

.workspace-tab-header.is-active.mod-active {
	border-bottom: 3px solid black;
}

div.cm-line {
	color: rgb(41, 41, 41);
}

.HyperMD-header-1:after {
	content: "";
	display: block;
	margin: 1.2em auto 0;
	width: 6rem;
	height: 2px;
}

.HyperMD-header-2 {
	border-bottom: 1px blue solid;
}
